# Визначає потрібну версію бібліотеки pyTelegramBotAPI для взаємодії з Telegram API
pyTelegramBotAPI==4.29.1
# Визначає потрібну версію бібліотеки requests для виконання HTTP-запитів до зовнішніх API (наприклад, TMDB)
requests==2.32.5
# Визначає потрібну версію бібліотеки python-dotenv для завантаження змінних оточення з файлу .env
python-dotenv==1.0.1